## Setup

In [34]:
# db stuff
import wlp_utils.etl_utils as etl
import datetime
import pandas as pd
import sqlite3

# copy backup
import os

# fitbit
import sys
import fitbit
import ConfigParser
import json
import time

# myfitnesspal
import myfitnesspal

# withings
from withings import WithingsAuth, WithingsApi, WithingsCredentials

# imputation
import numpy as np

In [2]:
server_dir = '/Users/jamieinfinity/Projects/WorldLine/worldline-wgt/server/'
cfg_file = server_dir + 'config/api_params.cfg'
db_dir = server_dir + 'db/'
backups_dir = db_dir + 'backups/'
db_name = 'worldline'
db_ext = '.db'
db_file_name = db_dir + db_name + db_ext

## Load DB

In [3]:
conn = sqlite3.connect(db_file_name)

In [46]:
db_df = pd.io.sql.read_sql_table('fitness', 'sqlite:///'+db_file_name, index_col='Date', parse_dates=['Date'])

In [5]:
db_df.tail(5)

            Weight  Steps  Calories
Date
2017-04-16   167.5   4998    1865.0
2017-04-17   167.2   7881    1954.0
2017-04-18   167.6   8813    2104.0
2017-04-19   166.6  15958    1769.0
2017-04-20   167.5   9245    1763.0

## Update Fitbit steps

In [74]:
parser = ConfigParser.SafeConfigParser()
parser.read(cfg_file)
consumer_key = parser.get('fitbit', 'consumer_key')
consumer_secret = parser.get('fitbit', 'consumer_secret')
access_token = parser.get('fitbit', 'access_token')
refresh_token = parser.get('fitbit', 'refresh_token')
expires_at = parser.get('fitbit', 'expires_at')

In [45]:
def persist_refresh_token(token_dict):
    # print token_dict
    parser = ConfigParser.SafeConfigParser()
    parser.read(cfg_file)
    parser.set('fitbit', 'access_token', token_dict['access_token'])
    parser.set('fitbit', 'refresh_token', token_dict['refresh_token'])
    parser.set('fitbit', 'expires_at', "{:.6f}".format(token_dict['expires_at']))
    with open(cfg_file, 'wb') as configfile:
        parser.write(configfile)

In [19]:
authd_client = fitbit.Fitbit(consumer_key, consumer_secret, 
                             access_token=access_token, 
                             refresh_token=refresh_token,
                             expires_at=float(expires_at),
                             refresh_cb = persist_refresh_token)

In [20]:
authd_client.sleep().keys()

{u'token_type': u'Bearer', u'user_id': u'2499HX', u'refresh_token': u'36fa129b6da899b1007202898f7a36cb5ff8edb576cc3df803dafe4d111c3a5a', u'access_token': u'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIyNDk5SFgiLCJhdWQiOiIyMjlCNFMiLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJzY29wZXMiOiJyc29jIHJzZXQgcmFjdCBybG9jIHJ3ZWkgcmhyIHJudXQgcnBybyByc2xlIiwiZXhwIjoxNDkyMjUzNTI0LCJpYXQiOjE0OTIyMjQ3MjR9.lAfEUsv0FPENNZ52irIlQ3iNtSh8zN-rGouE0nEaMjI', u'scope': [u'settings', u'nutrition', u'sleep', u'activity', u'social', u'weight', u'location', u'profile', u'heartrate'], u'expires_in': 28800, u'expires_at': 1492253524.420195}

[u'sleep', u'summary']

In [59]:
[startdate, enddate] = etl.get_target_date_endpoints('Steps', db_df)

In [60]:
steps = authd_client.time_series('activities/steps', base_date=startdate, end_date=enddate)
steps

{u'activities-steps': [{u'dateTime': u'2017-03-27', u'value': u'7160'},
  {u'dateTime': u'2017-03-28', u'value': u'7292'},
  {u'dateTime': u'2017-03-29', u'value': u'7150'},
  {u'dateTime': u'2017-03-30', u'value': u'5480'},
  {u'dateTime': u'2017-03-31', u'value': u'12730'},
  {u'dateTime': u'2017-04-01', u'value': u'19901'},
  {u'dateTime': u'2017-04-02', u'value': u'13169'},
  {u'dateTime': u'2017-04-03', u'value': u'9551'},
  {u'dateTime': u'2017-04-04', u'value': u'10348'},
  {u'dateTime': u'2017-04-05', u'value': u'8297'},
  {u'dateTime': u'2017-04-06', u'value': u'10778'},
  {u'dateTime': u'2017-04-07', u'value': u'11787'},
  {u'dateTime': u'2017-04-08', u'value': u'20986'},
  {u'dateTime': u'2017-04-09', u'value': u'17910'},
  {u'dateTime': u'2017-04-10', u'value': u'14793'},
  {u'dateTime': u'2017-04-11', u'value': u'8747'},
  {u'dateTime': u'2017-04-12', u'value': u'15410'},
  {u'dateTime': u'2017-04-13', u'value': u'20420'}]}

In [61]:
dvals = [[pd.tseries.tools.to_datetime(val['dateTime']), val['value']] for val in steps['activities-steps']]

In [62]:
dvals

[[Timestamp('2017-03-27 00:00:00'), u'7160'],
 [Timestamp('2017-03-28 00:00:00'), u'7292'],
 [Timestamp('2017-03-29 00:00:00'), u'7150'],
 [Timestamp('2017-03-30 00:00:00'), u'5480'],
 [Timestamp('2017-03-31 00:00:00'), u'12730'],
 [Timestamp('2017-04-01 00:00:00'), u'19901'],
 [Timestamp('2017-04-02 00:00:00'), u'13169'],
 [Timestamp('2017-04-03 00:00:00'), u'9551'],
 [Timestamp('2017-04-04 00:00:00'), u'10348'],
 [Timestamp('2017-04-05 00:00:00'), u'8297'],
 [Timestamp('2017-04-06 00:00:00'), u'10778'],
 [Timestamp('2017-04-07 00:00:00'), u'11787'],
 [Timestamp('2017-04-08 00:00:00'), u'20986'],
 [Timestamp('2017-04-09 00:00:00'), u'17910'],
 [Timestamp('2017-04-10 00:00:00'), u'14793'],
 [Timestamp('2017-04-11 00:00:00'), u'8747'],
 [Timestamp('2017-04-12 00:00:00'), u'15410'],
 [Timestamp('2017-04-13 00:00:00'), u'20420']]

In [67]:
updated_df = etl.insert_values(dvals, 'Steps', db_df)

In [68]:
updated_df.tail(20)

            Weight  Steps  Calories
Date
2017-03-25   164.5  14311    2037.0
2017-03-26   167.1   5824    1898.0
2017-03-27     NaN   7160       NaN
2017-03-28     NaN   7292       NaN
2017-03-29     NaN   7150       NaN
2017-03-30     NaN   5480       NaN
2017-03-31     NaN  12730       NaN
2017-04-01     NaN  19901       NaN
2017-04-02     NaN  13169       NaN
2017-04-03     NaN   9551       NaN
2017-04-04     NaN  10348       NaN
2017-04-05     NaN   8297       NaN
2017-04-06     NaN  10778       NaN
2017-04-07     NaN  11787       NaN
2017-04-08     NaN  20986       NaN
2017-04-09     NaN  17910       NaN
2017-04-10     NaN  14793       NaN
2017-04-11     NaN   8747       NaN
2017-04-12     NaN  15410       NaN
2017-04-13     NaN  20420       NaN

In [71]:
if os.path.isfile(db_file_name):
    timestamp = datetime.datetime.today().strftime('%Y-%m-%d-%H-%M-%S')
    backup_file_name = backups_dir + db_name + '_BACKUP_' + timestamp + db_ext
    etl.copy_file(db_file_name, backup_file_name)

In [72]:
pd.io.sql.to_sql(updated_df, 'fitness', conn, if_exists='replace')

## Update MyFitnessPal Calories

In [21]:
client = myfitnesspal.Client('jamieinfinity')

In [26]:
[date_start, date_end] = etl.get_target_date_endpoints('Calories', db_df)
date_query = date_start
date_diff = date_end - date_query
days = date_diff.days+1

In [28]:
diary_dump = []
for i in range(days):
    print(date_query.strftime('%Y-%m-%d'))    
    diary_data = client.get_date(date_query)
    diary_dump.append(diary_data)
    date_query = date_query + datetime.timedelta(days=1)

2017-03-27
2017-03-28
2017-03-29
2017-03-30
2017-03-31
2017-04-01
2017-04-02
2017-04-03
2017-04-04
2017-04-05
2017-04-06
2017-04-07
2017-04-08
2017-04-09
2017-04-10
2017-04-11
2017-04-12
2017-04-13
2017-04-14

In [43]:
dvals = [[pd.tseries.tools.to_datetime(x.date.strftime('%Y-%m-%d')), (x.totals)['calories']] for x in diary_dump]
dvals

[[Timestamp('2017-03-27 00:00:00'), 1816],
 [Timestamp('2017-03-28 00:00:00'), 1890],
 [Timestamp('2017-03-29 00:00:00'), 2012],
 [Timestamp('2017-03-30 00:00:00'), 1866],
 [Timestamp('2017-03-31 00:00:00'), 2594],
 [Timestamp('2017-04-01 00:00:00'), 2238],
 [Timestamp('2017-04-02 00:00:00'), 2202],
 [Timestamp('2017-04-03 00:00:00'), 2073],
 [Timestamp('2017-04-04 00:00:00'), 2027],
 [Timestamp('2017-04-05 00:00:00'), 2188],
 [Timestamp('2017-04-06 00:00:00'), 1879],
 [Timestamp('2017-04-07 00:00:00'), 2591],
 [Timestamp('2017-04-08 00:00:00'), 2462],
 [Timestamp('2017-04-09 00:00:00'), 2032],
 [Timestamp('2017-04-10 00:00:00'), 1726],
 [Timestamp('2017-04-11 00:00:00'), 1905],
 [Timestamp('2017-04-12 00:00:00'), 1889],
 [Timestamp('2017-04-13 00:00:00'), 2119],
 [Timestamp('2017-04-14 00:00:00'), 2514]]

In [34]:
updated_df = etl.insert_values(dvals, 'Calories', db_df)

In [35]:
updated_df.tail(20)

            Weight   Steps  Calories
Date
2017-03-26   167.1  5824.0    1898.0
2017-03-27     NaN    7160    1816.0
2017-03-28     NaN    7292    1890.0
2017-03-29     NaN    7150    2012.0
2017-03-30     NaN    5480    1866.0
2017-03-31     NaN   12730    2594.0
2017-04-01     NaN   19901    2238.0
2017-04-02     NaN   13169    2202.0
2017-04-03     NaN    9551    2073.0
2017-04-04     NaN   10348    2027.0
2017-04-05     NaN    8297    2188.0
2017-04-06     NaN   10778    1879.0
2017-04-07     NaN   11787    2591.0
2017-04-08     NaN   20986    2462.0
2017-04-09     NaN   17910    2032.0
2017-04-10     NaN   14793    1726.0
2017-04-11     NaN    8747    1905.0
2017-04-12     NaN   15410    1889.0
2017-04-13     NaN   20420    2119.0
2017-04-14     NaN    8880    2514.0

In [36]:
if os.path.isfile(db_file_name):
    timestamp = datetime.datetime.today().strftime('%Y-%m-%d-%H-%M-%S')
    backup_file_name = backups_dir + db_name + '_BACKUP_' + timestamp + db_ext
    etl.copy_file(db_file_name, backup_file_name)

In [37]:
pd.io.sql.to_sql(updated_df, 'fitness', conn, if_exists='replace')

## Update Withings Weight

In [9]:
parser = ConfigParser.SafeConfigParser()
parser.read(cfg_file)
consumer_key = parser.get('withings', 'consumer_key')
consumer_secret = parser.get('withings', 'consumer_secret')
access_token = parser.get('withings', 'access_token')
access_token_secret = parser.get('withings', 'access_token_secret')
user_id = parser.get('withings', 'user_id')

In [7]:
auth = WithingsAuth(consumer_key, consumer_secret)

In [12]:
creds = WithingsCredentials(access_token=access_token,
                                   access_token_secret=access_token_secret,
                                   consumer_key=consumer_key,
                                   consumer_secret=consumer_secret,
                                   user_id=user_id)

In [13]:
client = WithingsApi(creds)

In [23]:
[date_start, date_end] = etl.get_target_date_endpoints('Weight', db_df)
date_query = date_start
date_diff = date_end - date_query
days = date_diff.days+2

In [27]:
measures = client.get_measures(meastype=1, limit=days)

In [28]:
measures.pop(0)

In [29]:
weight_json = [{'weight':(float("{:.1f}".format(x.weight*2.20462))), 'date':x.date.strftime('%Y-%m-%d')} for x in measures]

In [30]:
weight_json

[{'date': '2017-04-14', 'weight': 166.7},
 {'date': '2017-04-13', 'weight': 165.3},
 {'date': '2017-04-12', 'weight': 167.8},
 {'date': '2017-04-11', 'weight': 168.9},
 {'date': '2017-04-10', 'weight': 167.8},
 {'date': '2017-04-09', 'weight': 165.7},
 {'date': '2017-04-08', 'weight': 165.8},
 {'date': '2017-04-07', 'weight': 166.4},
 {'date': '2017-04-06', 'weight': 166.6},
 {'date': '2017-04-05', 'weight': 167.0},
 {'date': '2017-04-04', 'weight': 167.2},
 {'date': '2017-04-03', 'weight': 166.7},
 {'date': '2017-04-02', 'weight': 165.4},
 {'date': '2017-04-01', 'weight': 166.4},
 {'date': '2017-03-31', 'weight': 165.5},
 {'date': '2017-03-30', 'weight': 165.7},
 {'date': '2017-03-29', 'weight': 166.1},
 {'date': '2017-03-28', 'weight': 166.2},
 {'date': '2017-03-27', 'weight': 167.4}]

In [32]:
dvals = [[pd.tseries.tools.to_datetime(x['date']), x['weight']] for x in weight_json]
dvals

[[Timestamp('2017-04-14 00:00:00'), 166.7],
 [Timestamp('2017-04-13 00:00:00'), 165.3],
 [Timestamp('2017-04-12 00:00:00'), 167.8],
 [Timestamp('2017-04-11 00:00:00'), 168.9],
 [Timestamp('2017-04-10 00:00:00'), 167.8],
 [Timestamp('2017-04-09 00:00:00'), 165.7],
 [Timestamp('2017-04-08 00:00:00'), 165.8],
 [Timestamp('2017-04-07 00:00:00'), 166.4],
 [Timestamp('2017-04-06 00:00:00'), 166.6],
 [Timestamp('2017-04-05 00:00:00'), 167.0],
 [Timestamp('2017-04-04 00:00:00'), 167.2],
 [Timestamp('2017-04-03 00:00:00'), 166.7],
 [Timestamp('2017-04-02 00:00:00'), 165.4],
 [Timestamp('2017-04-01 00:00:00'), 166.4],
 [Timestamp('2017-03-31 00:00:00'), 165.5],
 [Timestamp('2017-03-30 00:00:00'), 165.7],
 [Timestamp('2017-03-29 00:00:00'), 166.1],
 [Timestamp('2017-03-28 00:00:00'), 166.2],
 [Timestamp('2017-03-27 00:00:00'), 167.4]]

In [33]:
updated_df = etl.insert_values(dvals, 'Weight', db_df)

In [34]:
updated_df.tail(20)

            Weight   Steps  Calories
Date
2017-03-26   167.1  5824.0    1898.0
2017-03-27   167.4    7160    1816.0
2017-03-28   166.2    7292    1890.0
2017-03-29   166.1    7150    2012.0
2017-03-30   165.7    5480    1866.0
2017-03-31   165.5   12730    2594.0
2017-04-01   166.4   19901    2238.0
2017-04-02   165.4   13169    2202.0
2017-04-03   166.7    9551    2073.0
2017-04-04   167.2   10348    2027.0
2017-04-05   167.0    8297    2188.0
2017-04-06   166.6   10778    1879.0
2017-04-07   166.4   11787    2591.0
2017-04-08   165.8   20986    2462.0
2017-04-09   165.7   17910    2032.0
2017-04-10   167.8   14793    1726.0
2017-04-11   168.9    8747    1905.0
2017-04-12   167.8   15410    1889.0
2017-04-13   165.3   20420    2119.0
2017-04-14   166.7    8880    2514.0

In [35]:
if os.path.isfile(db_file_name):
    timestamp = datetime.datetime.today().strftime('%Y-%m-%d-%H-%M-%S')
    backup_file_name = backups_dir + db_name + '_BACKUP_' + timestamp + db_ext
    etl.copy_file(db_file_name, backup_file_name)

In [36]:
pd.io.sql.to_sql(updated_df, 'fitness', conn, if_exists='replace')

## Impute Missing Values

In [78]:
db_df = pd.io.sql.read_sql_table('fitness', 'sqlite:///'+db_file_name, index_col='Date', parse_dates=['Date'])

In [79]:
db_df.dtypes

Weight           float64
Steps            float64
Calories         float64
WeightImputed      int64
dtype: object

In [80]:
db_df[db_df['WeightImputed']==1]

                Weight    Steps  Calories  WeightImputed
Date
2013-01-27  175.924284   2068.0       NaN              1
2013-02-02  176.101495  10314.0       NaN              1
2013-02-03  176.144642   4418.0       NaN              1
2013-02-16  176.125931  13572.0       NaN              1
2013-02-17  176.112295  19494.0       NaN              1
2013-02-19  176.112820  11653.0       NaN              1
2013-03-03  176.341602  11309.0       NaN              1
2013-03-07  176.086392  12157.0       NaN              1
2013-03-08  176.044851  14972.0       NaN              1
2013-03-09  176.029849  11135.0       NaN              1
2013-03-10  176.049416  10302.0       NaN              1
2013-03-11  176.110252  12879.0       NaN              1
2013-03-12  176.217176  11388.0       NaN              1
2013-03-13  176.372570   6079.0       NaN              1
2013-03-14  176.575830  10451.0       NaN              1
2013-03-31  176.681345  12817.0       NaN              1
2013-04-02  176.948838  11800.0       NaN              1
2013-04-10  178.893838   6636.0       NaN              1
2013-05-21  177.303783   5875.0       NaN              1
2013-06-21  181.658712   8413.0       NaN              1
2013-06-23  181.690473  10349.0       NaN              1
2013-07-06  182.117796  11599.0       NaN              1
2013-07-09  182.071347  11910.0       NaN              1
2013-07-14  180.828588   9392.0       NaN              1
2013-07-27  179.525634  12866.0       NaN              1
2013-07-28  179.564540  13475.0       NaN              1
2013-08-03  180.240354  11687.0       NaN              1
2013-09-13  176.173755   7363.0       NaN              1
2013-11-30  179.664907   5974.0       NaN              1
2013-12-01  179.512273   5950.0       NaN              1
...                ...      ...       ...            ...
2015-08-22  179.910556  14216.0       NaN              1
2015-09-05  180.762358  11597.0       NaN              1
2015-10-09  180.965145  12376.0    2523.0              1
2015-11-19  176.576714   6937.0    2480.0              1
2015-12-25  173.375122   6516.0    2159.0              1
2015-12-26  173.227936  12755.0    2766.0              1
2015-12-27  173.089005   2551.0    2748.0              1
2016-03-17  168.359253   9760.0    1850.0              1
2016-04-24  167.280255  10941.0    2130.0              1
2016-04-25  167.446087  11484.0    2128.0              1
2016-04-26  167.616959   7624.0    2528.0              1
2016-04-27  167.786975  17755.0    2141.0              1
2016-07-02  165.476118   8588.0    2667.0              1
2016-07-03  165.654684  20161.0    3442.0              1
2016-07-04  165.853757  18628.0    2686.0              1
2016-07-27  166.205358  24741.0    2345.0              1
2016-07-28  166.221988  22061.0    2343.0              1
2016-07-29  166.241482  23677.0    2909.0              1
2016-07-30  166.260953  18589.0    2213.0              1
2016-07-31  166.276809   8129.0    1587.0              1
2016-08-18  165.189671  15514.0    2268.0              1
2016-08-19  165.228952  14668.0    2791.0              1
2016-08-20  165.285217   8667.0    2595.0              1
2016-08-21  165.353276  15481.0    1986.0              1
2016-10-13  161.392438  14270.0    2487.0              1
2016-10-20  162.698692  28946.0    2863.0              1
2016-10-21  162.758617  14701.0    2086.0              1
2016-10-22  162.732196  12429.0    2071.0              1
2016-10-23  162.626627  12682.0    2223.0              1
2017-01-24  165.991774  10541.0    2676.0              1

[95 rows x 4 columns]