## Setup

In [70]:
# db stuff
import wlp_utils.etl_utils as etl
import datetime
import pandas as pd
import sqlite3

# copy backup
import os

# fitbit
import sys
import fitbit
import ConfigParser
import json
import time

In [73]:
server_dir = '/Users/jamieinfinity/Projects/WorldLine/worldline-wgt/server/'
cfg_file = server_dir + 'config/api_params.cfg'
db_dir = server_dir + 'db/'
backups_dir = db_dir + 'backups/'
db_name = 'worldline'
db_ext = '.db'
db_file_name = db_dir + db_name + db_ext

## Load DB

In [69]:
conn = sqlite3.connect(db_file_name)

In [22]:
db_df = pd.io.sql.read_sql_table('fitness', 'sqlite:///'+db_file_name, index_col='Date', parse_dates=['Date'])

In [23]:
db_df.tail(5)

            Weight    Steps  Calories
Date
2017-03-22   166.7  16043.0    2056.0
2017-03-23   165.3   7261.0    2266.0
2017-03-24   165.6  14167.0    1934.0
2017-03-25   164.5  14311.0    2037.0
2017-03-26   167.1   5824.0    1898.0

## Update Fitbit steps

In [74]:
parser = ConfigParser.SafeConfigParser()
parser.read(cfg_file)
consumer_key = parser.get('fitbit', 'consumer_key')
consumer_secret = parser.get('fitbit', 'consumer_secret')
access_token = parser.get('fitbit', 'access_token')
refresh_token = parser.get('fitbit', 'refresh_token')
expires_at = parser.get('fitbit', 'expires_at')

In [45]:
def persist_refresh_token(token_dict):
    # print token_dict
    parser = ConfigParser.SafeConfigParser()
    parser.read(cfg_file)
    parser.set('fitbit', 'access_token', token_dict['access_token'])
    parser.set('fitbit', 'refresh_token', token_dict['refresh_token'])
    parser.set('fitbit', 'expires_at', "{:.6f}".format(token_dict['expires_at']))
    with open(cfg_file, 'wb') as configfile:
        parser.write(configfile)

In [19]:
authd_client = fitbit.Fitbit(consumer_key, consumer_secret, 
                             access_token=access_token, 
                             refresh_token=refresh_token,
                             expires_at=float(expires_at),
                             refresh_cb = persist_refresh_token)

In [20]:
authd_client.sleep().keys()

{u'token_type': u'Bearer', u'user_id': u'2499HX', u'refresh_token': u'36fa129b6da899b1007202898f7a36cb5ff8edb576cc3df803dafe4d111c3a5a', u'access_token': u'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIyNDk5SFgiLCJhdWQiOiIyMjlCNFMiLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJzY29wZXMiOiJyc29jIHJzZXQgcmFjdCBybG9jIHJ3ZWkgcmhyIHJudXQgcnBybyByc2xlIiwiZXhwIjoxNDkyMjUzNTI0LCJpYXQiOjE0OTIyMjQ3MjR9.lAfEUsv0FPENNZ52irIlQ3iNtSh8zN-rGouE0nEaMjI', u'scope': [u'settings', u'nutrition', u'sleep', u'activity', u'social', u'weight', u'location', u'profile', u'heartrate'], u'expires_in': 28800, u'expires_at': 1492253524.420195}

[u'sleep', u'summary']

In [59]:
[startdate, enddate] = etl.get_target_date_endpoints('Steps', db_df)

In [60]:
steps = authd_client.time_series('activities/steps', base_date=startdate, end_date=enddate)
steps

{u'activities-steps': [{u'dateTime': u'2017-03-27', u'value': u'7160'},
  {u'dateTime': u'2017-03-28', u'value': u'7292'},
  {u'dateTime': u'2017-03-29', u'value': u'7150'},
  {u'dateTime': u'2017-03-30', u'value': u'5480'},
  {u'dateTime': u'2017-03-31', u'value': u'12730'},
  {u'dateTime': u'2017-04-01', u'value': u'19901'},
  {u'dateTime': u'2017-04-02', u'value': u'13169'},
  {u'dateTime': u'2017-04-03', u'value': u'9551'},
  {u'dateTime': u'2017-04-04', u'value': u'10348'},
  {u'dateTime': u'2017-04-05', u'value': u'8297'},
  {u'dateTime': u'2017-04-06', u'value': u'10778'},
  {u'dateTime': u'2017-04-07', u'value': u'11787'},
  {u'dateTime': u'2017-04-08', u'value': u'20986'},
  {u'dateTime': u'2017-04-09', u'value': u'17910'},
  {u'dateTime': u'2017-04-10', u'value': u'14793'},
  {u'dateTime': u'2017-04-11', u'value': u'8747'},
  {u'dateTime': u'2017-04-12', u'value': u'15410'},
  {u'dateTime': u'2017-04-13', u'value': u'20420'}]}

In [61]:
dvals = [[pd.tseries.tools.to_datetime(val['dateTime']), val['value']] for val in steps['activities-steps']]

In [62]:
dvals

[[Timestamp('2017-03-27 00:00:00'), u'7160'],
 [Timestamp('2017-03-28 00:00:00'), u'7292'],
 [Timestamp('2017-03-29 00:00:00'), u'7150'],
 [Timestamp('2017-03-30 00:00:00'), u'5480'],
 [Timestamp('2017-03-31 00:00:00'), u'12730'],
 [Timestamp('2017-04-01 00:00:00'), u'19901'],
 [Timestamp('2017-04-02 00:00:00'), u'13169'],
 [Timestamp('2017-04-03 00:00:00'), u'9551'],
 [Timestamp('2017-04-04 00:00:00'), u'10348'],
 [Timestamp('2017-04-05 00:00:00'), u'8297'],
 [Timestamp('2017-04-06 00:00:00'), u'10778'],
 [Timestamp('2017-04-07 00:00:00'), u'11787'],
 [Timestamp('2017-04-08 00:00:00'), u'20986'],
 [Timestamp('2017-04-09 00:00:00'), u'17910'],
 [Timestamp('2017-04-10 00:00:00'), u'14793'],
 [Timestamp('2017-04-11 00:00:00'), u'8747'],
 [Timestamp('2017-04-12 00:00:00'), u'15410'],
 [Timestamp('2017-04-13 00:00:00'), u'20420']]

In [67]:
updated_df = etl.insert_values(dvals, 'Steps', db_df)

In [68]:
updated_df.tail(20)

            Weight  Steps  Calories
Date
2017-03-25   164.5  14311    2037.0
2017-03-26   167.1   5824    1898.0
2017-03-27     NaN   7160       NaN
2017-03-28     NaN   7292       NaN
2017-03-29     NaN   7150       NaN
2017-03-30     NaN   5480       NaN
2017-03-31     NaN  12730       NaN
2017-04-01     NaN  19901       NaN
2017-04-02     NaN  13169       NaN
2017-04-03     NaN   9551       NaN
2017-04-04     NaN  10348       NaN
2017-04-05     NaN   8297       NaN
2017-04-06     NaN  10778       NaN
2017-04-07     NaN  11787       NaN
2017-04-08     NaN  20986       NaN
2017-04-09     NaN  17910       NaN
2017-04-10     NaN  14793       NaN
2017-04-11     NaN   8747       NaN
2017-04-12     NaN  15410       NaN
2017-04-13     NaN  20420       NaN

In [71]:
if os.path.isfile(db_file_name):
    timestamp = datetime.datetime.today().strftime('%Y-%m-%d-%H-%M-%S')
    backup_file_name = backups_dir + db_name + '_BACKUP_' + timestamp + db_ext
    etl.copy_file(db_file_name, backup_file_name)

In [72]:
pd.io.sql.to_sql(updated_df, 'fitness', conn, if_exists='replace')