In [1]:
import datetime
import pandas as pd
import sqlite3

In [12]:
base_dir = './_Data/'
file_name = base_dir + 'SEED_wgt_steps_cals_2013-01-01_to_2016-12-25.csv'
seed_df = pd.read_csv(file_name, parse_dates=['Date'])
seed_df.drop(['CaloriesOut', 'CaloriesBMR', 'CaloriesActivity'], axis=1, inplace=True)

In [13]:
seed_df.dtypes

Weight             float64
Date        datetime64[ns]
Steps              float64
Calories           float64
dtype: object

In [14]:
seed_df.tail(5)

      Weight       Date    Steps  Calories
1541   166.7 2017-03-22  16043.0    2056.0
1542   165.3 2017-03-23   7261.0    2266.0
1543   165.6 2017-03-24  14167.0    1934.0
1544   164.5 2017-03-25  14311.0    2037.0
1545   167.1 2017-03-26   5824.0    1898.0

In [17]:
conn = sqlite3.connect("worldline.db")

In [19]:
pd.io.sql.to_sql(seed_df, 'fitness', conn, if_exists='replace')

In [33]:
test = pd.io.sql.read_sql_table('fitness', 'sqlite:///worldline.db', index_col='index', parse_dates=['Date'])

In [35]:
test.dtypes

Weight             float64
Date        datetime64[ns]
Steps              float64
Calories           float64
dtype: object